<div class="voice-recognition-container">
  <h1>🗣️ Ayuda Lectora 🎶</h1>

  <div class="word-container">
    <h3>📖 Palabra a Leer:</h3>
    <div class="word-box">
      <span *ngFor="let letra of palabraMostrada; let i = index" [ngClass]="{ 'correct': correctas[i] }">
        {{ letra }}
      </span>
    </div>
  </div>

  <!-- Botones de Control -->
  <div class="controls">
    <button 
      (click)="startRecording()" 
      class="btn toggle-btn">
      ▶️ Escuchar
    </button>
    <button 
      (click)="reanudar()" 
      class="btn restart-btn">
      🔄 Reanudar
    </button>
  </div>

  <!-- Lectura en Tiempo Real -->
  <div class="real-time">
    <h3>🎙️ Lectura en Tiempo Real:</h3>
    <div class="real-time-box">
      <p>{{ realTimeText || "Esperando entrada de voz..." }}</p>
    </div>
  </div>

  <div *ngIf="mensajeError" class="error-message">
    <p>{{ mensajeError }}</p>
  </div>
</div>
