/* Estilos Personalizados */
#page-container{
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.0rem;    /* Footer height */
}
/* Fuente para los títulos principales */
h1 {
  color: #ff4081;
  text-shadow: 2px 2px #000000;
  font-family: 'Pacifico', cursive; /* Fuente juvenil y elegante */
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

/* Fuente para enlaces */
a {
  color: #3b0042;
  text-decoration: none;
  font-family: 'Indie Flower', cursive; /* Fuente manuscrita y desenfadada */
}

a:hover {
  text-decoration: underline;
}

/* Ajustes para el contenedor principal */
.container {
  flex: 1;  /* Este estilo asegura que el contenedor principal ocupe el espacio disponible */
}

/* Ajustes para imágenes */
img {
  width: 100px;
  height: auto;
  margin: 5px;
}

/* Navbar personalizado */
.navbar-custom {
  background-color: #80006a; /* Fondo del navbar */
}

/* Estilos para la sección de GIFs */
.gif-container {
  margin-top: 20px;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-family: 'Comic Neue', sans-serif; /* Fuente moderna y divertida */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffeb3b;
}

/* Fondo colorido y juvenil */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Comic Neue', cursive; /* Fuente principal */
  background: linear-gradient(135deg, #ffcc00 25%, #ff6699 50%, #33ccff 75%);
  color: #0000FF;
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

/* Ajustes para el footer */
footer {
  background-color: #343a40; /* Fondo oscuro para el footer */
}
