<div class="home-container">
  <h2>✨ ¡Bienvenido a la página de inicio! ✨</h2>
  <p>
    Esta es la página principal de la aplicación. Desde aquí podrás acceder a unos juegos que he hecho.
  </p>

  <div class="game-link">
    <h3>🎮 Juegos Disponibles:</h3>
    <ul>
      <li>
        <a routerLink="/gato" class="game-button">
          🐱 Juego Gato
        </a>
      </li>
      <li>
        <a routerLink="/memorice" class="game-button">
          🧠 Juego Memorice
        </a>
      </li>
      <li>
        <a routerLink="/voice-recognition" class="game-button">
          🔉 Transcriptor
        </a>
      </li>
    </ul>
  </div>
</div>
