.home-container {
    padding: 20px;
    text-align: center;
    background: burlywood
  }
  
  .home-container h2 {
    color: #3b83cc;
    background: fixed;
  }
  
  .home-container p {
    font-size: 18px;
    color: #569700;
  }
  
  .game-link {
    margin-top: 20px;
  }
  
  .game-link ul {
    list-style-type: none;
    padding: 0;
  }
  
  .game-link li {
    margin: 10px 0;
  }
  
  .game-link a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
  }
  
  .game-link a:hover {
    text-decoration: underline;
  }
  