<div class="game-container" style="background: url('assets/images/kensugimori.jpg') no-repeat center; background-size: cover; padding: 5px;">
  <h1 class="game-title">Juego Memorice Pokémon</h1>
  <div class="cards-grid">
    <div *ngFor="let card of cards; let i = index" class="card" (click)="flipCard(i)">
      <div class="card-inner" [class.flipped]="card.flipped">
        <div class="card-front"></div>
        <div class="card-back">
          <img *ngIf="card.flipped || matchedCards.includes(i)" [src]="card.image" alt="Dynamic Card Image" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="gameWon" class="game-win-message">
    <h2>¡Felicidades! Has ganado el juego.</h2>
    <button (click)="resetGame()">Reiniciar</button>
  </div>
</div>
